<h3><%= @user.username %></h3>

<% if @user.places.empty? %>
  <p><em><%= @user.username %> has not created any places</em></p>
<% else %>
  <h4>Places: </h4>
  <ul>
  <% @user.places.each do |place| %>
    <li>
      <a href= "<%= "/places/#{place.id}" %>"><%= place.name %></a> - <%= place.location %>
      <% if @curr_user && @curr_user.id == @user.id %>
        <a href = "<%= "/places/#{place.id}/edit" %>"> Edit </a> | <a href = "<%= "/places/#{place.id}/delete" %>">Delete</a>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @user.comments.empty? %>
  <p><em><%= @user.username %> has not commented on any places</p></em>
<% else %>
  <h4>Comments:</h4>
    <ul>
    <% @user.comments.each do |comment| %>
    <li>
      <%= @user.username %> commented on 
      <% if comment.place==nil %>
        DELETED:
      <% else %>
        <a href= "<%= "/places/#{comment.place.id}" %>"><%= comment.place.name %></a> - <%= comment.place.location %>:
      <% end %>
      <br><%= comment.content %>
      <% if @curr_user && @curr_user.id == @user.id %>
        <a href = "<%= "/comments/#{comment.id}/edit" %>"> Edit </a> | <a href = "<%= "/comments/#{comment.id}/delete" %>">Delete</a>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>
