<h2>Warning!  You are about to delete the place listed below.</h2>
<h3>This cannot be undone.  Are you sure you want to do this?</h3>

<form action = "<%= "/places/#{@place.id}/delete" %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Yes">
  <input type="submit" name="submit" value="No">
</form>


<h3><%= @place.name %></h3>
<h3><i><%= @place.location %></i></h3>
<p><%= @place.content %></p>

<% if !@place.comments.empty? %>
  <% @place.comments.each do |comment| %>
    <p><a href = "<%= "/users/#{comment.user.id}" %>">
    <%= comment.user.username %></a> wrote:</p>
    <p><%= comment.content %></p>
  <% end %>
<% end %>
