<h3><%= @place.name %></h3>
<h3><i><%= @place.location %></i></h3>
<p><%= @place.content %></p>

<% if @user && @place.user_id == @user.id %>
  <a href = "<%= "/places/#{@place.id}/edit" %>"> Edit </a> | <a href = "<%= "/places/#{@place.id}/delete" %>">Delete</a>
<% end %>

<% if !@place.comments.empty? %>
  <% @place.comments.each do |comment| %>
    <p><a href = "<%= "/users/#{comment.user.id}" %>">
    <%= comment.user.username %></a> wrote:</p>
    <p><%= comment.content %></p>
    <% if @user && @user.id == comment.user_id %>
      <a href = "<%= "/comments/#{comment.id}/edit" %>"> Edit </a> | <a href = "<%= "/comments/#{comment.id}/delete" %>">Delete</a>
    <% end %>
  <% end %>
<% end %>

<% if @is_logged_in %>
  <p>Add a comment:</p>
  <form action = "<%= "/places/#{@place.id}/comment" %>" method = "post">
    <textarea name="comment" rows="10" cols="60"></textarea><br>
    <input type="submit" name="submit" value="Create comment">
  </form>
<% end %>
